body {
	background: #F5F5F5;
    font-family: 'D2Coding', 'monospace';
}

hr {
    border: none;
    border-top: 3px solid #48CFCB71;
    border-radius: 70%;
    margin: 20px 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
}

.main-area {
	display: flex;
	flex-direction: row;
	width: 100%;
	min-height: 400px;
	margin-top: 16px;
	column-gap: 16px;
}

.sidebar {
    background: #229799;
    color: #2D2D2D; /* 진한 텍스트 */
    width: 250px;
    min-height: 400px;
    height: 400px;
    flex-shrink: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
    border-radius: 0;
    padding: 10px;
    gap: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
    position: sticky;
    top : 15px; 
    border-radius: 8px;
}

.sidebar-box {
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-sizing: border-box;
    background-image: url(https://i.namu.wiki/i/_VR5WHEDuh8GTDefHS5Q9hRraEwIEwHVMMFNwzr3uDAgXeQ-2ht67CM8tj4KtttckiCj7-VOdzeOQnpSz7ks8w.webp);
    background-size: cover;
    background-position: center;
    border: #F5F5F5 4px solid;
}

.content {
	flex: 1 1 auto;
	background: #ffffff;
	color: #2D2D2D; 
	border-radius: 8px;
	min-height: 600px;
	padding: 20px 30px 0px 30px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
}

.sidebar-textbox{
    margin: 20px 0 0 0;
    color: #F5F5F5;
    text-align: center;
    font-size: 15px;
}

.info-graphics {
    height: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.github, .discord, .instagram {
    fill: #F5F5F5;
    transition: transform 0.5s cubic-bezier(0.4,0,0.2,1);
    width: 40px;
    height: 40px;
}

.github:hover, .discord:hover, .instagram:hover {
    transform: scale(1.08);
    transition: transform 0.5s cubic-bezier(0.4,0,0.2,1);
    transition: fill 0.5s cubic-bezier(0.4,0,0.2,1);
}

.github:hover {
    fill: #181717;
}

.discord:hover {
    fill: #5865F2;
}

.instagram:hover {
    fill: #FF0069;
}

.content_title {
    color: #229799;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.About_textbox {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #424242;
    max-width: 800px;
}

.detail_btn {
    margin-left: auto;
    font-size: 16px;
    color: #229799;
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
    transition: transform 0.3s cubic-bezier(0.4,0,0.2,1);
}

.back_btn {
    margin-left: auto;
    margin-bottom: 10px;
    font-size: 16px;
    color: #229799;
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
    transition: transform 0.3s cubic-bezier(0.4,0,0.2,1);
}

.detail_btn:hover {
    transform: translateX(10px);
}

.back_btn:hover {
    transform: translateX(-10px);
}

.content_box {

}






.scrollTopBtn {
    position: fixed;
    right: 20px;
    bottom: 32px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #229799;
    text-align: center;
    font-size: 18px;
    line-height: 70px;
    color: white;
    font-weight: bold;
    transition: background 0.2s;
    text-decoration: none;
}
.scrollTopBtn:hover {
    background-color: #1a6e6e;
}